.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.row{
  display: flex;
}
.column{
  flex: 50%;
}
.column-2-row{
  display: flex;
  flex-direction: column;
}
.column-upper{
  flex: 50%;
  background-color: beige;
}

.border-box-upper{
  border: 1px solid black;
  min-height: 300px;
}

.border-box-lower{
  border: 1px solid black;
  min-height: 400px;
}

.column-lower{
  flex: 50%;
  background-color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
